*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: white;
}

.main{
    width: 100%;
    height: 100%;
    overflow: auto;
    user-select: none;    
}

.darkMode{
    position: absolute;
    width: 50px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.container{
    position: relative;
    width: 0px;
    height: 90%;
    top: 10px;
    background: red;
}

.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0;
    z-index: 49;
    pointer-events: none;
    transition: opacity 0.3s;
}

.circle{
    position: absolute;
    height: 65%;
    border-radius: 50%;
    border: none;
    transition: background-color 0.3s, z-index 0.3s;
    overflow: visible;
}
.circle.border{
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    left: -3px;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid black;
}
.seasonText{
    position: absolute;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 25;
    z-index: 90;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 2px 2px;
}
.circle > img{
    position: absolute;

    z-index: 90;

    transition: transform 0.2s, opacity 0.2s;

    cursor: pointer;
}

.circle.spring{
    height: 60%;
    background-color: rgba(241, 252, 177, 0.5);
}
.seasonText.spring{
    background-color: rgba(241, 252, 177, 1);
}

.circle.summer{
    height: 75%;
    background-color: rgba(244, 196, 196, 0.5);
}
.seasonText.summer{
    background-color: rgba(244, 196, 196, 1);
}

.circle.fall{
    height: 70%;
    background-color: rgba(168, 212, 254, 0.5);
}
.seasonText.fall{
    background-color: rgba(168, 212, 254, 1);
}

.circle.winter{
    height: 55%;
    background-color: rgba(219, 252, 255, 0.5);
    top: 43%;
    transform: rotate(-0.04turn);
}
.seasonText.winter{
    background-color: rgba(219, 252, 255, 1);
}
.circle.winter2{
    height: 60%;
    background-color: rgba(219, 252, 255, 0.5);
    top: 30%;
}
.seasonText.winter2{
    background-color: rgba(219, 252, 255, 1);
}
.circle.winter3{
    height: 13.5%;
    background-color: rgba(219, 252, 255, 0.5);
}
.seasonText.winter3{
    background-color: rgba(219, 252, 255, 1);
}

.any-season-container{
    position: absolute;
    background-color: rgba(205, 189, 222, 0.5);
    border-radius: 5% 5% 2% 2%;
    left: 57.5%;
    min-width: 500px;
}
.seasonText.anySeason{
    background-color: rgba(205, 189, 222, 1);
    left: 50%;
    cursor: default;
}

.slider-container{
    position: absolute;
    background-color: rgba(205, 189, 222, 0.5);
    border-radius: 5% 5% 2% 2%;
    left: 57.5%;
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.drop-zone{
    border: 2px dotted black;
    flex-grow: 2;
    height: 80%;
    text-align: center;
    user-select: text;
    margin-right: 5px;
}
.drop-zone > p{
    position: relative;
    top: 35%;
}

.group{
    position: absolute;
    text-align: center;
    font-size: 25px;
    width: 100%;
    pointer-events: none;
    top: 22%;
}
.group > p{
    position: relative;
    z-index: 1000;
}

.group-children{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.group-children > div{
    margin: 1%;
}
.group-children img{
    width: 100%;
    opacity: 1;
    transition: transform 0.2s, opacity 0.2s;
    z-index: 90;
    cursor: pointer;
    pointer-events: all;
    position: relative;
}

.circle button{
    border: none;
}
.circle > img{
    width: 7.768%
}
.circle.spring > img{
    width: 9.7%
}
.circle.fall > img{
    width: 8.32%
}
.circle.winter2 > img{
    width: 9.7%
}

/* SPRING */
.Sunfish{
    left: 82%;
    top: 35%;
}
.Anchovy{
    left: 32%;
    top: 63%
}
.SmallmouthBass{
    left: 37%;
    top: 75%;
}
.Herring{
    left: 53%;
    top: 10%;
}
.Shad{
    left: 67%;
    top: 68%;
}
.Catfish{
    left: 74%;
    top: 56%;
}
.Eel{
    left: 42%;
    top: 88%;
}
.Halibut{
    left: 72%;
    top: 14%;
}
.Flounder{
    left: 60%;
    top: 35%;
}
.Sardine{
    left: 18%;
    top: 80%;
}
.Legend{
    left: 23%;
    top: 28%;
}

/* SUMMER */
.Pufferfish{
    left: 65%;
    top: 22%;
}
.RainbowTrout{
    left: 45%;
    top: 22%;
}
.Pike{
    left: 64%;
    top: 58%;
}
.RedSnapper{
    left: 48%;
    top: 70%;
}
.SuperCucumber{
    left: 49%;
    top: 86%
}
.Dorado{
    left: 50%;
    top: 37%;
}
.Sturgeon{
    left: 73%;
    top: 68%;
}
.RedMullet{
    left: 66%;
    top: 82%;
}
.Tuna{
    left: 85%;
    top: 55%;
}
.Tilapia{
    left: 27%;
    top: 81%;
}
.Octopus{
    left: 75%;
    top: 45%;
}
.Crimsonfish{
    left: 55%;
    top: 7%;
}

/* FALL */
.Walleye{
    left: 20%;
    top: 80%;
}
.MidnightCarp{
    left: 17%;
    top: 48%;
}
.Albacore{
    left: 15%;
    top: 70%;
}
.Salmon{
    left: 40%;
    top: 67%;
}
.TigerTrout{
    left: 8%;
    top: 60%;
}
.SeaCucumber{
    left: 3%;
    top: 40%;
}
.Angler{
    left: 60%;
    top: 78%;
}

/* WINTER */
.Perch{
    left: 74%;
    top: 22%;
}
.Lingcod{
    left: 80%;
    top: 38%;
}
.Squid{
    left: 58%;
    top: 50%;   
}
.Glacierfish{
    left: 79%;
    top: 58%;
}
.MidnightSquid{
    left: 44%;
    top: 68%;
}
.SpookFish{
    left: 64%;
    top: 76%;
}
.Blobfish{
    left: 34%;
    top: 84%;
}

.info{
    opacity: 0;
    visibility: hidden;
    position:absolute;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    z-index: 2000;
    font-size: 22;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    transition: border-color 0.15s;
}

.sliders{
    vertical-align: middle;
    flex-grow: 8;
}

.slider-text{
    position: relative;
    width: 100%;
    left: 10px;
    vertical-align: bottom;
    font-size: 25;
}
.sliders-child{
    position: relative;
    margin-top: 10;
    left: 10px;
}

.sliders-child:nth-child(3),
.sliders-child:nth-child(8){
    position: relative;
    margin-top: 40;
    left: 10px;
}


.switch {
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #af9fbf;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f3e8fc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #81c5fc;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.management-buttons{
    position: absolute;
    right: 0%;
    bottom: 0%;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
}
.management-buttons > button{
    margin: 2px;
    padding: 0.5%;
    border: none;
    background-color: brown;
    color: white;
    box-shadow: 2px 2px black;
    border-radius: 5%;
    font-size: 130%;
    cursor: pointer;
}
.management-buttons > .home{
    border-radius: 5% 5% 20% 5%;
}